{% extends 'base.html' %}

{% block title %}Import for "{{ user.musicbrainz_id }}" - ListenBrainz{% endblock %}

{% block content %}
  <h2 class="page-title">{{ user.musicbrainz_id }}</h2>
  {% if current_user.is_authenticated() and current_user == user %}

     <h3>Import from Rdio</h3>
     {% if loader %}
        <p>
          <strong>Step 2</strong>
        </p>
        <div class="well">
          <p>
             Drag this bookmarklet to your bookmarks toolbar:
          </p>
          <p>
             <span class="btn btn-warning btn-lg" style="width: 400px"><a href="{{loader}}" style="color: white;">Import Rdio to ListenBrainz</a></span>
          </p>
        </div>
        <p>
          <strong>Step 3</strong>
        </p>
        <div class="well">
          <p>
             Go to your Rdio history page and click the bookmarklet you just added to your toolbar.
          </p>
          <p>
             This will start the import of your listens. Please leave the page open and don't navigate away
             from it until the import process is complete. After that, you're done. Thanks!
          </p>
          <p>
             <span class="btn btn-warning btn-lg" style="width: 400px"><a href="http://www.rdio.com/people/{{ rdio_username }}/history/"
             style="color: white;">Go to my Rdio history</a></span>
          <p>
        </div>
     {% else %}
     <p>
        <strong>Notes about the Rdio import process:</strong>
     </p>
     <p>
        The Rdio importer manually steps through your listen history and imports the listens
        one page at a time. Should it fail for whatever reason, it is safe to restart the import
        process. Running the import process multiple times <strong>does not</strong> create duplicates in your
        ListenBrainz listen history.
     </p>
     <p>
        <strong>Step 1</strong>
     </p>
     We need to know your Rdio username:
     <div class="well">
         <form action="" method="GET">
             <input type="text" name="rdio_username" size="30" placeholder="Rdio username">
             <input type="submit" value="proceed to step 2">
         </form>
     </div>
     {% endif %}

     <h3>User token</h3>
     <p>
        If you would like to use an external program to import into ListenBrainz you will need the following
        user token:
     </p>

     <div class="well">
        {{ user.auth_token }}
     </div>

  {% endif %}

{% endblock %}
